GOOGLE_API_KEY=google_api_key

INSPECT_EVAL_MODEL=google/gemini-2.5-pro
CHEATSHEET_DEFAULT_PDF=/path/to/inspect_ai/rw_alert_service/research_waste_cheatsheet_v4.pdf

OPENROUTER_API_KEY=open-router-api-key

LLAMA_CPP_API_KEY=dummy
LLAMA_CPP_BASE_URL=http://0.0.0.0:8000/v1
